<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="ConexaoSQLServer" connectionString="Data Source=ANDRESILVA\SQLEXPRESS; Initial Catalog=dbproblemas;Integradted Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>